<p>Здравствуйте!</p>
<p>Мы рады сообщить, что ваше событие <b> {{card}}</b> успешно прошло модерацию и теперь доступна для публикации.</p>
<p>Спасибо за проявленный интерес к нашему проекту.</p>
<p> С уважением,</p>
<p>Команда Multi</p>