<p>Добрый день!</p>
<p>Благодарим Вас за регистрацию в сервисе Multi.</p>
<p>Для того чтобы завершить регистрацию и подтвердить свою электронную почту вернитесь обратно на сайт и воспользуйтесь
  для входа:</p>
<p> Логин: <b> {{email}}</b></p>
<p> Пароль: <b> {{password}}</b></p>
<p>Если вы не осуществляли регистрацию, то обязательно зарегистрируйтесь.</p>
<p> С уважением,</p>
<p>Команда Multi</p>