<p>Добрый день!</p>
<p>Восстановление пароля в сервисе Multi.</p>
<p>Вы можете вернуться обратно на сайт и воспользоваться данными для входа:</p>
<p> Логин: <b> {{email}}</b></p>
<p> Пароль: <b> {{password}}</b></p>
<p>Если вы не осуществляли Восстановление пароля, то обязательно свяжитесь с нами.</p>
<p> С уважением,</p>
<p>Команда Multi</p>