<p>Здравствуйте!</p>
<p>К сожалению, ваша событие <b> {{card}}</b> не прошло модерацию по следующим причинам:</p>
<p> <b> {{reason}}</b></p>
<p>После внесения изменений отправьте карточку события на повторную модерацию.</p>
<p>Благодарим за проявленный интерес к нашему проекту и надеемся на дальнейшее сотрудничество.</p>
<p> С уважением,</p>
<p>Команда Multi</p>